/* Continuous rotation animation */
.rotate-animation {
  animation: rotate-clock 10s linear infinite; /* Spins in 2 seconds infinitely */
  display: inline-block; /* Ensures proper alignment */
}

@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-hover {
  text-decoration: none;
  color: black;
}

.custom-hover:hover {
  text-decoration: underline;
}

.pagination .page-item.active .page-link {
  background-color: #308e87 !important; /* Change active color to red */
  color: white !important; /* Text color */
  border-color: #308e87 !important; /* Border color */
}
.pagination .page-item .page-link {
  color: #308e87 !important; /* Text color */
}

