/* Continuous rotation animation */
.rotate-animation {
  animation: rotate-clock 10s linear infinite; /* Spins in 2 seconds infinitely */
  display: inline-block; /* Ensures proper alignment */
}

@keyframes rotate-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS class for the blinking eye effect */
.eye-btn:hover i {
  animation: blink-eye 1s ease-in-out infinite;
}

@keyframes blink-eye {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* .pagination .page-item.active .page-link {
  background-color: #308e87 !important; 
  color: white !important; 
  border-color: #308e87 !important; 
}
.pagination .page-item .page-link {
  color: #308e87 !important; 
} */
